.logo{
    height: 70px;

}

.header-nav{
    background-color:  rgb(143, 57, 57);
    height:70px;
    width: 100%;
}

body{
    margin: 0;
    background: url(/img/parcel.png);
    background-repeat: no-repeat;
    background-size: cover;

}

.nav-bar{
    margin-left: 55%;

}
a,li{
    list-style: none;
    text-decoration: none;
    padding: 5px;
    color: white;
    font-family: sans-serif;
    font-size: 22px;
    font-weight: bold;
    display: inline-block;
}

.nav-bar,ul{
    margin-top: -59px;
}
 

.content,h1{
    margin-left: 35%;
    color: black;
    font-size: 50px;
  
}

button,a{
    color: black;
    border: none;
    text-align: center;
    font-size: 32px;
    font-family:  Arial;
}
button{
    margin-left: 175px;
    margin-top: 2%;
    border-radius: 10px 0 10px 0;
    background-color: rgb(107, 85, 85);
}

button :hover{
    background-color: rgb(143, 57, 57);
}
.info,li{
    display: inline-block;
    padding: 10px;
    align-items: center;

}
.info{ 
    margin-top: 75px;
    margin-left: 70px;

}
.about{
    box-sizing: border-box;
    border: 2px ;
    text-align: center;
    background-color: rgb(143, 57, 57);
    border-radius: 10px 0 0 10px;
}

.office{
    box-sizing: border-box;
    border: 2px ;
    text-align: center;
    background-color: rgb(107, 85, 85);
}

.work{
    box-sizing: border-box;
    border: 2px ;
    text-align: center;
    background-color: rgb(143, 57, 57);
}

.more{
    box-sizing: border-box;
    border: 2px ;
    text-align: center;
    background-color: rgb(107, 85, 85);
    border-radius:0 10px 10px 0;
}

h3{
    font-size: 38px;
    margin-left: 35%;
}

.views{
    margin-bottom: -20px;
    font-family: Arial;
    font-size: 40px;
    animation: fadeIn 5s;
  
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
