.logo{
  height: 70px;
margin: 20px;
}

  body {
    width: 100%;
    padding: 40px;
    background:url(/img/parcel.png);
    background-repeat: no-repeat;
    background-size: cover;
  }
 label{
  font-size: 22px;
 }
  
  .form {
    top: 90px;
    height: 330px;
  }
  
  
input {
    width: 100px;
    min-width: 50%;
    height: 25px;
    border-radius: 5px;
  }
  
  .signUp {
    width: 150px;
    height: 40px;
    color: black;
    background-color: white;
    font-size: 22px;
    font-family: "Times New Roman", Times, serif;
    border-radius: 5px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
  }
  

.signUp:hover {
  background-color:red
}


#login {
  color: white;
  padding: 3px 15px;
  background-color: red;
  text-decoration: none;
  border-radius: 10px;
  cursor: pointer;
}
 
a{
  text-decoration: none;
  color: black;
}